<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link href="/static/style-contact.css" rel="stylesheet" />
  </head>
  <body>
    <font>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Pacifico&family=Parkinsans:wght@300..800&display=swap"
        rel="stylesheet"
      />
    </font>
    <header class="head">
      <h1>Contact us</h1>
      <nav>
        <ul class="relationlinks">
          <li><a href="/">Home</a></li>
          <li><a href="/templates/about.html">About</a></li>
          <li><a href="/templates/contact.html">Contact us</a></li>
        </ul>
      </nav>
    </header>
    <article>
      <div>
        <a class="navi">
          <img
            src="/static/images/nav-prof.jpeg"
            alt="Naveen"
            width="300"
            height="450"
          />
        </a>
        <h3>Naveendran S</h3>
        <h5>III-BSC-CS-A</h5>
        <p>
          Naveendran is a tech enthusiast with a passion for creating
          user-friendly software solutions. With years of experience in web
          development and a knack for problem-solving, he specializes in
          designing platforms that make complex tasks simple. When he’s not
          coding, Naveendran enjoys exploring the latest advancements in
          technology and tinkering with innovative ideas.
        </p>
      </div>
      <div>
        <a class="pavi">
          <img
            src="/static/images/pavi-prof.jpeg"
            alt="Pavi"
            width="300"
            height="450"
          />
        </a>
        <h3>Pavithran B</h3>
        <h5>III-BSC-CS-A</h5>
        <p>
          Pavithran is a creative visionary dedicated to bridging the gap
          between design and functionality. His expertise lies in crafting
          intuitive user interfaces and enhancing the overall aesthetic appeal
          of digital platforms. Pavithran’s attention to detail and commitment
          to excellence ensure that every project he touches leaves a lasting
          impression.
        </p>
      </div>
      <div>
        <a class="vicky">
          <img
            src="/static/images/vicky-prof.jpeg"
            alt="vicky"
            width="300"
            height="450"
          />
        </a>
        <h3>Vignesh K</h3>
        <h5>III-BSC-CS-A</h5>
        <p>
          Vignesh is a results-driven developer with a focus on efficiency and
          innovation. With a deep understanding of file processing and
          optimization, he excels at building robust tools tailored to users’
          needs. Beyond coding, Vignesh enjoys brainstorming new features to
          enhance user experience and improve workflows.
        </p>
      </div>
    </article>
  </body>
</html>
