body {
  background: url(/templates/bg.png) no-repeat center center fixed;
  background-size: cover;
}
.head {
  display: flex;
  justify-content: first baseline;
  align-items: center;
  padding-left: 5px;
}
h1 {
  padding-right: 500px;
  font-family: "Jaro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  align-items: start;
  font-size: 60px;
  padding-inline-start: 12px;
}

h3 {
  text-align: center;
  display: flex;
  font-family: "Jaro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  padding-left: 14cm;
}
article p {
  width: 1000px;
  text-align: center;
  padding-left: 130px;
  font-size: larger;
  padding-top: 19px;
  line-height: 160%;
}
.relationlinks li {
  display: inline;
  padding-left: 30px;
}
li a {
  color: palevioletred;
  font-family: "Jaro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
h5 {
  color: palevioletred;
  font-family: "Jaro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
.list {
  width: 1000px;
  text-align: justify;
  padding-left: 130px;
  font-size: larger;
  padding-top: 19px;
  line-height: 160%;
}
