<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link href="/static/style-contact.css" rel="stylesheet" />
  </head>
  <body>
    <font>
      <link
        href="https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap"
        rel="stylesheet"
      />

      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Pacifico&family=Parkinsans:wght@300..800&display=swap"
        rel="stylesheet"
      />
      <link href="https://fonts.cdnfonts.com/css/lemon-milk" rel="stylesheet" />
      <link href="https://fonts.cdnfonts.com/css/bebas-neue" rel="stylesheet" />
    </font>
    <header class="head">
      <h1>Contact us</h1>
      <nav>
        <ul class="relationlinks">
          <li><a href="/">Home</a></li>
          <li><a href="/templates/about.html">About</a></li>
          <li><a href="/templates/contact.html">Contact us</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <div class="panel">
        <div class="ring">
          <div class="card card1"></div>
          <div class="border">
            <p class="title">Pavithran</p>
            <div class="slide">
              <h6 class="para">Pavithran</h6>
              <h6 class="para">Web developer/ designer</h6>
              <div class="line">
                <h6 class="para">
                  Pavithran is a creative visionary dedicated to bridging the
                  gap between design and functionality. His expertise lies in
                  crafting intuitive user interfaces and enhancing the overall
                  aesthetic appeal of digital platforms.
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="ring">
          <div class="card card2"></div>
          <div class="border">
            <p class="title">Naveendran</p>
            <div class="slide">
              <h6 class="para">Naveendran</h6>
              <h6 class="para">Web developer/ designer</h6>
              <div class="line">
                <h6 class="para">
                  Naveendran is a tech enthusiast with a passion for creating
                  user-friendly software solutions. With years of experience in
                  web development and a knack for problem-solving, he
                  specializes in designing platforms that make complex tasks
                  simple.
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="ring">
          <div class="card card3"></div>
          <div class="border">
            <p class="title">Vignesh</p>
            <div class="slide">
              <h6 class="para">Vignesh</h6>
              <h6 class="para">Web designer</h6>
              <div class="line">
                <h6 class="para">
                  Vignesh is a results-driven developer with a focus on
                  efficiency and innovation. With a deep understanding of file
                  processing and optimization, he excels at building robust
                  tools tailored to users’ needs.
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <article>
      <div class="p-link">
        <img src="/static/images/ig.png" width="50px" height="50px" />
        <img src="/static/images/wa.png" width="50px" height="50px" />
      </div>
      <div class="n-link">
        <a href="https://www.instagram.com/tonystark_ind/">
          <img src="/static/images/ig.png" width="50px" height="50px" />
        </a>
        <a href="https://www.linkedin.com/in/naveendran-s-788600295/">
          <img src="/static/images/lin.png" width="50px" height="50px" />
        </a>
        <a
          href="https://api.whatsapp.com/send/?phone=919962327242&text&type=phone_number&app_absent=0"
        >
          <img src="/static/images/wa.png" width="50px" height="50px" />
        </a>
      </div>
      <div class="v-link">
        <a href="https://www.instagram.com/tonystark_ind/">
          <img src="/static/images/ig.png" width="50px" height="50px" />
        </a>

        <a href="https://api.whatsapp.com/send/?phone=918072009824&text&type=phone_number&app_absent=0">
          <img src="/static/images/wa.png" width="50px" height="50px" />
        </a>
      </div>
    </article>
  </body>
</html>
