<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Plumber</title>
    <link rel="stylesheet" href="/static/style.css" />
    <font>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Pacifico&family=Parkinsans:wght@300..800&display=swap"
        rel="stylesheet"
      />
      <link href="https://fonts.cdnfonts.com/css/lemon-milk" rel="stylesheet" />
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap"
        rel="stylesheet"
      />
    </font>
  </head>
  <body>
    <header class="head">
      <div class="left-section">
        <a class="logo">
          <img
            src="/static/images/logo.png"
            alt="Logo"
            width="70"
            height="70"
          />
        </a>
        <h1 class="appname">File Plumber</h1>
      </div>

      <nav class="rl">
        <ul class="relationlinks">
          <li><a href="/">Home</a></li>
          <li><a href="/templates/about.html">About</a></li>
          <li><a href="/templates/contact.html">Contact us</a></li>
        </ul>
      </nav>
    </header>

    <main class="main-container">
      <h2 class="phrase">Convert your files More Easier!!!</h2>
      <article class="operation">
        <!-- File Converter Section -->
        <div class="converter">
          <form
            id="convert-form"
            action="/convert"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="con-items">
              <h2 class="bg-rem-head">File Converter</h2>
              <div class="conv-con">
                <div class="file-upload">
                  <label for="fileInput1">Upload</label>
                  <input
                    type="file"
                    id="fileInput1"
                    name="file"
                    required
                    onchange="displayFileName(this)"
                  />
                  <span class="file-name">No file chosen</span>
                </div>
                <select class="switch" name="format" required>
                  <option value="png">PNG</option>
                  <option value="jpg">JPG</option>
                  <option value="jpeg">JPEG</option>
                  <option value="bmp">BMP</option>
                  <option value="pdf">PDF</option>
                  <option value="svg">SVG</option>
                  <option value="ico">ICO</option>
                  <option value="webp">WEBP</option>
                  <option value="gif">GIF</option>
                </select>
              </div>
            </div>
            <button class="convert-btn" type="submit">Convert</button>
          </form>
        </div>

        <!-- Background Removal Section -->
        <div class="bg-removal">
          <form
            id="bg-remove-form"
            action="/remove-bg"
            method="post"
            enctype="multipart/form-data"
          >
            <h2 class="bg-rem-head">Remove Image Background</h2>
            <div class="bg-btn-od">
              <div class="bg-con">
                <div class="file-upload">
                  <label for="fileInput2">Upload</label>
                  <input
                    type="file"
                    id="fileInput2"
                    name="file"
                    required
                    onchange="displayFileName(this)"
                  />
                  <span class="file-name">No file chosen</span>
                </div>
              </div>
              <button class="bg-remove-btn" type="submit">
                Remove Background
              </button>
            </div>
          </form>
        </div>

        <!-- Image Upscaler Section -->
        <div class="upscaler">
          <form
            id="upscale-form"
            action="/upscale"
            method="post"
            enctype="multipart/form-data"
          >
            <h2 class="bg-rem-head">Upscale Your Image</h2>
            <div class="up-con">
              <div class="file-upload">
                <label for="fileInput3">Upload</label>
                <input
                  type="file"
                  id="fileInput3"
                  name="file"
                  required
                  onchange="displayFileName(this)"
                />
                <span class="file-name">No file chosen</span>
              </div>
            </div>
            <div class="uplabel">
              <label for="factor"><b>Scale</b></label>
              <input
                class="fac-perc"
                type="number"
                id="factor"
                name="factor"
                value="2"
                min="2"
                max="10"
                required
              />
            </div>
            <button class="upscale-btn" type="submit">Upscale Image</button>
          </form>
        </div>
      </article>
    </main>

    <script>
      function displayFileName(input) {
        const fileName =
          input.files.length > 0 ? input.files[0].name : "No file chosen";
        input.nextElementSibling.textContent = fileName;
      }
    </script>
  </body>
</html>
